<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Regions</key>
	<dict>
		<key>Bourgas</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.4</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Bourgas</string>
				<string>Elenite</string>
				<string>Kosharitsa</string>
				<string>Nessebar</string>
				<string>Obzor</string>
				<string>Pomorie</string>
				<string>Primorsko</string>
				<string>Sozopol</string>
				<string>Sunny Beach</string>
				<string>Yambol</string>
			</array>
		</dict>
		<key>Varna</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.3</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Aksakovo</string>
				<string>Avren</string>
				<string>Albena</string>
				<string>Balchik</string>
				<string>Byala</string>
				<string>Dobrich</string>
				<string>Golden Sands</string>
				<string>Kavarna</string>
				<string>Shumen</string>
				<string>Sveti Vlas</string>
				<string>Targovishte</string>
				<string>Varna</string>
			</array>
		</dict>
		<key>Rousse</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.2</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Isperih</string>
				<string>Ivanovo</string>
				<string>Rousse</string>
				<string>Silistra</string>
			</array>
		</dict>
		<key>Stara Zagora</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.5</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Ardino</string>
				<string>Dimitrovgrad</string>
				<string>Haskovo</string>
				<string>Kardzali</string>
				<string>Kazanlak</string>
				<string>Stara Zagora</string>
				<string>Svilengrad</string>
			</array>
		</dict>
		<key>Plovdiv</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.6</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Batak</string>
				<string>Chepelare</string>
				<string>Devin</string>
				<string>Karlovo</string>
				<string>Pazardzik</string>
				<string>Plovdiv</string>
				<string>Smolyan</string>
				<string>Hisarja</string>
				<string>Stamboliyski</string>
				<string>Velingrad</string>
			</array>
		</dict>
		<key>Pleven</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.1</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Gabrovo</string>
				<string>Gorna Orechovitsa</string>
				<string>Pleven</string>
				<string>Sevlievo</string>
				<string>Svishtov</string>
				<string>Troyan</string>
				<string>Tryavna</string>
				<string>Veliko Tarnovo</string>
			</array>
		</dict>
		<key>Petrich</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.8</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Bansko</string>
				<string>Blagoevgrad</string>
				<string>Petrich</string>
				<string>Razlog</string>
				<string>Sandanski</string>
				<string>Simitli</string>
			</array>
		</dict>
		<key>Vidin</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<integer>0</integer>
			</dict>
			<key>Cities</key>
			<array>
				<string>Vidin</string>
			</array>
		</dict>
		<key>Sofia</key>
		<dict>
			<key>ColorForRegion</key>
			<dict>
				<key>Brightness</key>
				<integer>1</integer>
				<key>Saturation</key>
				<integer>1</integer>
				<key>Hue</key>
				<real>0.7</real>
			</dict>
			<key>Cities</key>
			<array>
				<string>Dragoman</string>
				<string>Dupnitsa</string>
				<string>Kyustendil</string>
				<string>Samokov</string>
				<string>Pravets</string>
				<string>Sofia</string>
				<string>Kostenets</string>
				<string>Ihtiman</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
